// main: ../../theme.less


/*-----------------------------------------------------------------------------------

    9. 3rd Party plugins

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
    9.1 Buddypress Profile Cover
-----------------------------------------------------------------*/
.profile-cover-action {
    display: none;
}
.profile-cover-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
}

/* ----------------------------------------------------------------
    9.2 rtMedia
-----------------------------------------------------------------*/
#buddypress form#whats-new-form #whats-new-options select {
    padding: 3px 20px 3px 2px !important;
}
.rtm-tabs.rtm-tabs {
    margin: 0 0 20px !important;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .nowrap input[type="text"] {
    display: inline-block;
    margin: 0 10px;
}
.rtmedia-container .imgedit-wrap .imgedit-group {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.rtmedia-container a.button, .rtmedia-container input[type="submit"], .rtmedia-container input[type="reset"], .rtmedia-container input[type="button"], button {
    margin-bottom: 0;
}
.rtmedia-container .rtmedia-image-editor-cotnainer {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.rtmedia-container form.rt_media_comment_form textarea {
    margin-bottom: 20px;
}
.rtmedia-container .rtm-comment-list .rtmedia-no-comments {
    padding: 5px 10px !important;
}
.rtmedia-actions-before-comments form {
    margin-bottom: 10px;
}
.rtmedia-item-actions.rtm-single-actions.rtm-item-actions {
    margin-bottom: 30px;
}
.rtmedia-actions-before-comments .rtmedia-comment-link, #buddypress .rtmedia-actions-before-comments .rtmedia-like {
    background: transparent;
    border-radius: 0;
    color: inherit;
}
.rtmedia-comment-user-pic img {
    border-radius: 50%;
}
.rtmedia-container .rtm-comment-list li {
    padding: 10px !important;
}
.rtmedia-container .rtm-media-single-comments {
    //padding: 5px;
}
.rtmedia-container .rtmedia-no-comments {
    font-style: italic;
    font-size: 11px !important;
}
.rtmedia-container .userprofile img {
    border-radius: 50%;
}
.rtmedia-container .rt_media_comment_form {
    margin-bottom: 0;
}

/* ----------------------------------------------------------------
      9.3 bpLike
  -----------------------------------------------------------------*/
#buddypress #activity-stream p.users-who-like {
    display: inline-block;
    font-size: 0.875em;
    font-style: italic;
    margin: 0 5px;
}


/* ----------------------------------------------------------------
    9.4 Cleverness To Do List
-----------------------------------------------------------------*/

#ctdl-frontend-admin {
    .ctdl-tables {
        overflow: hidden;
        margin-bottom:20px;
    }
    table.todo-table p, table.todo-table span {
        margin:0;
        padding:0;
        font-size: 14px;
        font-weight: 600;
    }
    table.todo-table {
        tr {
            td {
                padding: 20px;
            }
        }
    }
    table.todo-table thead tr th#checkbox-col {
        width:55px;
    }
    table.todo-table thead tr th#action-col, table.todo-table tbody tr td.todo-actions {
        /*width: 130px;*/
        padding-left:20px;
    }




    table.todo-table tr td.todo-actions {
        color: transparent;
        a {
            float:left;
            margin: 0 2px;
            &.edit-todo, &.delete-todo {
                font-size: 12px;
                position: relative;
                line-height: 16px;
                padding-left: 24px;
                margin-top: 6px;
                float: left;
                margin-left: 10px;
                .transition(color .3s ease-out);
            }
            &.edit-todo {
                &:before {
                    content: '\e90b';
                    .icomoon();
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 16px;
                }
            }

            &.delete-todo {
                &:before {
                    content: '\e630';
                    .icomoon();
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 16px;
                }
            }
        }
    }







    table.todo-table tr.todo-important td.todo-priority {
        color: @deep-orange-color;
    }
    table.todo-table tr.todo-normal td.todo-priority {
        color: @light-green-color;
    }
    table.todo-table tr.todo-low td.todo-priority {
        color: @amber-color;
    }
    .wp-editor-container {
        border-bottom: 0;
    }
    table.todo-form {
        display: block;
        width: 100%;
        /*max-width: 550px;*/
        border: none;
        background: transparent;
    }
    table.todo-form tbody, table.todo-form tr {
        display: block;
        width: 100%;
    }
    table.todo-form tr th, table.todo-form tr td {
        display: block;
        text-align: left;
        width: 100%;
    }
    table.todo-form tr th {
        padding-bottom: 0px;
        border:none;
    }
    table.todo-form tr td {
        /*padding-bottom: 15px;*/
        border:none;
    }
    table.todo-form tr td input#cleverness_todo_deadline, table.todo-form tr td select#cleverness_todo_priority, table.todo-form tr td select#cat {
        /*width: 100%;*/
        width: 300px;
        margin-bottom: 0;
    }
    table.todo-form tr td .select2-container {
        width: 100% !important;
    }
    #cleverness-todo-progress-slider {
        height: 2px;
        border: none;
        top: 0.5em;
        margin: 0 10px;
        width: 70% !important;
    }
    #cleverness-todo-progress-slider .ui-slider-handle {
        top: -0.5em;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    input[type="submit"].button-primary {
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 12px;

        .transition(background .3s ease-out);
    }
}



#ctdl-frontend-admin {
    .todo-table, .todo-form {
        tr {
            &:nth-child(even) {
                td {
                    background-color: transparent;

                    &.todo-actions {
                        background-color: transparent;
                    }
                }
                th {
                    font-weight: 600;
                }
            }
        }
    }
    #todo-list-completed {
        margin-bottom: 10px;
    }
    h3 {
        font-size: .875em;
        letter-spacing: 0.04em;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    form#addtodo {
        padding: 8px;
    }
    .todo-form {
        margin-bottom: 10px;
        textarea {
            padding: 8px 15px;
            .transition(border-color .3s ease-out);
        }
    }
}
.mce-btn button {
    min-height: inherit;
    background: transparent;
    border:1px solid transparent;
    border-radius: inherit;
    margin-bottom: 0;
    font-size: 14px;
    &:hover {
        background-color: transparent;
    }
}


#insert-media-button {
    height: 30px;
    padding: 0 15px;
    border-radius: 30px;
    font-size: 11px;
    box-shadow: none;

    .transition(all .3s ease-out);

    &:hover {
        background-color: transparent;
    }



    .wp-media-buttons-icon {
        &:before {
            font-size: 14px;
            float: left;
        }
    }
}



/* widget for task */
.widget_cleverness-to-do-widget {
    ol li {
        background-color: transparent;
        padding:5px 0;
        margin:0;
        counter-increment: step-counter;
        list-style: none;
        display: block;
        margin-bottom: 2px;
    }
    ol li div.todo-text::before {
        content: counter(step-counter);
        background: transparent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width:25px;
        height:25px;
        line-height:23px;
        font-size: @font-size-small;
        text-align: center;
        display: inline-block;
        float:left;
        margin-right:8px;
    }
    ol li div.todo-text {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right:20px;
        font-size: @font-size-small-medium;
    }
    ol li div.todo-content {
        font-size: @font-size-small;
        margin-top:5px;
    }
    ol li.todo-important div.todo-text::before {
        border: 1px solid @deep-orange-color;
        color: @deep-orange-color;
    }
    ol li.todo-normal div.todo-text::before {
        border: 1px solid @light-green-color;
        color: @light-green-color;
    }
    ol li.todo-low div.todo-text::before {
        border: 1px solid @amber-color;
        color: @amber-color;
    }
}



#ctdl-message, .ctdl-message {
    margin:30px 0;
    padding: 7px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:none;
    background: #d3ffc6;
    color:#1e620e;
    font-size: 13px;
}

#ctdl-message p, .ctdl-message p {
    padding:0;
    margin:0;
}



.todo-checklist {
    margin-bottom: 50px;

    .todo-category-heading {
        font-size: @font-size-h5;
        margin:0;
        padding:15px 0;
    }

    h2 {
        font-size: .875em;
        letter-spacing: 0.04em;
        margin-bottom: 20px;
    }

    .todo-list {
        counter-increment: step-counter;
        list-style:none;
        position:relative;
        font-size: 16px;
        font-size: 1rem;

        input {
            &.todo-checkbox {
                display: inline-block !important;
                margin: 20px;
            }
        }

        .todoitem {
            margin: 0;
            display: block;
            padding: 20px;
            font-size: 0.750em;
            position: relative;
            padding-left: 64px;
            margin-left: 54px;
            /*float: left;*/

            &:before {
                content: counter(step-counter);
                background: transparent;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                width:25px;
                height:25px;
                line-height:21px;
                font-size: 13px;
                font-weight: 600;
                text-align: center;
                display: inline-block;
                position:absolute;
                top:17px;
                left:0px;
                margin-left: 20px;
            }

            p {
                margin: 0 0 5px 0;
                padding: 0;
            }
            .todo-date {
                font-size: 1em;
                font-style: italic;
                margin-left: 20px;
                padding-left: 20px;
            }
            .edit-todo {
                font-size: 1em;
                margin-left: 20px;
                padding-left: 16px;
                color: transparent;

                a.edit-todo {
                    text-transform: lowercase;
                    border-left: none;
                    margin: 0;
                    padding: 0 0 0 20px;
                    position: relative;
                    .transition(color .3s ease-out);

                    &:before {
                        content: '\e90b';
                        .icomoon();
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 13px;
                    }
                }
            }
        }

        &.todo-low {
            .todoitem {
                &:before {
                    color: @amber-color;
                    border-color: multiply(lighten(@amber-color, 20%),#fff);
                }
            }
        }
        &.todo-normal {
            .todoitem {
                &:before {
                    color: @light-green-color;
                    border-color: multiply(lighten(@light-green-color, 20%),#fff);
                }
            }
        }
        &.todo-important {
            .todoitem {
                &:before {
                    color: @deep-orange-color;
                    border-color: multiply(lighten(@deep-orange-color, 20%),#fff);
                }
            }
        }
    }
}


#content {
    .todo-checklist {
        .todoitem {
            p {
                font-size: 1.167em;
                line-height: 18px;
                font-weight: 600;
                letter-spacing: 0.04em;
            }
        }
    }
}



ul.todolist, ol.todolist {
    margin-bottom:40px;
    padding: 0;

    li.todo-list {
        padding: 12px 8px 12px 41px;
        margin-bottom:2px;
        counter-increment: step-counter;
        list-style:none;
        position:relative;
    }
    li.todo-list::before {
        content: counter(step-counter);
        background: transparent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width:25px;
        height:25px;
        line-height:23px;
        font-size: @font-size-small;
        text-align: center;
        display: inline-block;
        position:absolute;
        top:12px;
        left:10px;
    }

    li.todo-list.todo-important::before {
        border: 1px solid @deep-orange-color;
        color: @deep-orange-color;
    }

    li.todo-list.todo-normal::before {
        border: 1px solid @light-green-color;
        color: @light-green-color;
    }
    li.todo-list.todo-low::before {
        border: 1px solid @amber-color;
        color: @amber-color;
    }
    li.todo-list p {
        margin: 0;
        padding: 0;
    }
}

table.todolist {
    caption {
        font-size: @font-size-h3;
        text-align: left;
        margin-bottom: 30px;
    }
    p, span {
        margin:0;
        padding:0;
    }
    tr.todo-important td.todo-priority {
        color: @deep-orange-color;
    }
    tr.todo-normal td.todo-priority {
        color: @light-green-color;
    }
    tr.todo-low td.todo-priority {
        color: @amber-color;
    }
}



.header-top-tasks-widget {
    ol.todolist, ul.todolist {
        margin-bottom:0;

        li.todo-list {
            padding:5px 0;
            border:none;
            width: 100%;
            height: @line-height-content;
            line-height: @line-height-content;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right:20px;
            font-size: @font-size-small-medium;
        }

        li.todo-list::before {
            position: relative;
            top:auto;
            left:auto;
            float:left;
            margin-right:8px;
        }
    }
}

.dashboard-container {
    .todolist {
        margin-left: 0;

        li.todo-list {
            padding: 12px 8px 12px 31px;
            &:before {
                left: 0;
            }

            p {
                margin-left: 10px;
            }
        }
    }
}

#event-form, #location-form {
    h3 {
        margin:0;
        padding:0 0 10px 0;
    }
    p {
        padding:0;
        margin:5px 0;
    }
    i {
        padding:0 5px;
    }
    select {
        width: auto !important;
    }
    table {
        margin:0;
    }


    .inside {
        margin:10px 0 20px 0;
    }
}

.em-search-form {
    margin:0;
}
.em-search-advanced {
    select {
        padding-right:40px !important;
    }
}

.css-cats-list ul, .css-tags-list ul {
    list-style: none;
}

.search-box input[type="text"] {
    padding:2px 5px;
}
.search-box input[type="submit"] {
    font-size: @font-size-small-medium;
    padding:3px 7px;
}

.kleo-nav-menu .todolist {
    font-size: 0.75rem;
    margin-bottom: 0;
    letter-spacing: normal;
    li.todo-list {
        &:before {
            width: 20px;
            height: 20px;
            line-height: 18px;
        }
    }
}

.css-events-admin, .css-locations-admin {
    .wrap {
        clear: both;
    }
    a.button {
        position: relative;
        top: -65px;
    }
}


/* ----------------------------------------------------------------
    9.5 Events Manager
-----------------------------------------------------------------*/
table.em-calendar tr td, table.em-calendar tr th {
    font-size: inherit !important;
    text-align: center !important;
    @media @tablet {
        padding: 18px;
    }
    @media @desktop {
        padding: 32px !important;
    }
}

table.em-calendar tr:nth-child(2n) td {
    background-color: transparent !important;
}



/* ----------------------------------------------------------------
    9.6 Contact Form 7
-----------------------------------------------------------------*/
.customcf7 {
    label {
        display:inline-block;
        margin-bottom:5px;
        font-weight: bold;
    }
    .wpcf7-form-control-wrap {
        font-weight:normal;
        display:block;
        width:100%;
        margin-bottom:15px;
        input, textarea, select {
            width:100%;
            display:inline-block;
            font-weight: normal;
        }
        input[type="radio"], input[type="checkbox"] {
            width: auto;
            margin-right:5px;
        }
        textarea {
            resize:vertical;
            height:100px;
        }
        label {
            font-weight:normal;
            margin-right:10px;
        }
        .wpcf7-list-item {
            display:block;
        }
    }
}
input[type="text"].wpcf7-form-control, input[type="password"].wpcf7-form-control, input[type="email"].wpcf7-form-control, textarea.wpcf7-form-control {
    width: 100%;
}


/* Polls */
.wp-polls {
    .wp-polls-form {
        .wp-polls-ans {
            ul.wp-polls-ul {
                li {
                    font-size: 16px;
                    font-size: 1rem;
                    position: relative;

                    label {
                        position: relative;
                        display: inline-block;
                        height: 14px;
                        line-height: 14px;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        padding-left: 30px;
                        font-size: 13px;
                        font-size: 0.813em;
                        font-weight: 400;

                        &:before {
                            content: '';
                            position: absolute;
                            display: block;
                            z-index: 3;
                            opacity: 1;
                            top: 2px;
                            left: 3px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            -ms-transform: scale(0,0); /* IE 9 */
                            -webkit-transform: scale(0,0); /* Safari */
                            transform: scale(0,0);
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            z-index: 2;
                            top: -1px;
                            left: 0;
                            opacity: 1;
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                        }
                    }

                    input {
                        position: absolute !important;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 5;
                        opacity: 0;
                        cursor: pointer;

                        &:hover + label:after {
                            opacity: .5;
                        }

                        &:checked + label {
                            &:before {
                                .transition(transform .3s ease-out);
                                -ms-transform: scale(1,1); /* IE 9 */
                                -webkit-transform: scale(1,1); /* Safari */
                                transform: scale(1,1);
                            }

                            &:after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            p {
                margin-bottom: 0;
                margin-top: 30px;

                &:last-child {
                    margin-top: 0px;
                }
            }

            a {
                font-size: 12px;
                text-transform: lowercase;
            }
        }
    }

    .Buttons {
        padding: 0 15px;
        border: none;
        min-height: 30px;
        font-size: 11px;
    }
}

.wp-polls-ul {
    li {
        &:before {
            display: none;
        }
    }
}

/* ----------------------------------------------------------------
    9.7 Editor
-----------------------------------------------------------------*/

.wp-core-ui .button.ed_button, .wp-core-ui .button.button-small, .wp-core-ui .button-secondary {
    box-shadow: none;
    min-height: initial;
    text-transform:lowercase;
    letter-spacing: 0;
    font-size: 11px;
    border-color: transparent;
    .transition(border .3s ease-out);
}


.mce-btn-group {
    .mce-btn {
        button {
            i {
                &[class*="mce-i-"] {
                    font-size: 18px;
                    text-shadow: none;
                }
                &.mce-i-strikethrough {
                    font-size: 20px;
                }
            }
        }
    }
}
.mce-statusbar {
    border-width: 1px;
}



.wp-switch-editor {
    border-radius: 0;
    font-size: 10px;
    min-height: 20px;
    padding: 0 15px;
    background-color: transparent;
    margin:0;
    font-size: 10px !important;
    &:hover {
        background-color: transparent;
    }
}
.wp-editor-tabs {
    margin-bottom: 15px;
}

.rtmedia-action-buttons, .rtmedia-upload-media-link {
    .transition(color .3s ease-out);
}


/* ----------------------------------------------------------------
    9.8 Mediaelement Js
-----------------------------------------------------------------*/

.mejs-controls .mejs-button button {
    min-height: initial;
}