// main: ../../theme.less


/*-----------------------------------------------------------------------------------

	4. Header

-----------------------------------------------------------------------------------*/


/* --------------------------------------------------------------------------------
	GENERAL
-----------------------------------------------------------------------------------*/

html, body {
    overflow-x: hidden;

    @media @tablet, @desktop {
        overflow-x: visible;
    }
}

/* MOBILE - Left Icon menu */

.sidemenu-icon-wrapper {
    display: block;
    width: @header-height;
    height: @header-height;
    line-height: @header-height;
    text-align: center;
    float: left;

    > span {
        width: 16px;
        height: 12px;
        display: inline-block;

        span {
            display: block;
            height: 2px;
            margin-bottom: 3px;
            clear: both;
            > i {
                display: block;
                width: 2px;
                height: 2px;
                float: left;
                margin-right: 2px;
            }
            > b {
                display: block;
                height: 2px;
                width: 12px;
                float: left;
            }
        }
    }
}

/* MOBILE - Right Icon menu ------------------------------------------------------- */

.second-menu-icon-wrapper {
    display: block;
    width: @header-height;
    height: @header-height;
    line-height: @header-height;
    text-align: center;
    float: right;

    .second-menu-icon {
        display: inline-block;
        width: 16px;
        height: 6px;
        > span {
            width: 3px;
            height: 3px;
            float: left;
            margin-right: 3px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    i {
        font-size: 1.125em;
    }
}

/* NOTIFICATION Bubble ------------------------------------------------------- */

.bubble {
    position: absolute;
    display: block;
    height: @bubble-height;
    line-height: @bubble-height;
    border-radius: @bubble-height;
    min-width: @bubble-height;
    width: auto;
    padding: 0 5px;
    background: @bubble-background;
    color: @bubble-color;
    font-weight: 400;
    font-size: 0.563em;
    .font-smoothing(off);
    text-align: center;

    &.no-alert {
        display: none;
    }
}

/* DROPDROWN MENU ------------------------------------------------------- */

.has-submenu {
    position: relative;
    .menu-arrow {
        cursor: pointer;
        display: block;
        position: absolute;
        z-index: 800;
        top: 0;
        right: 0;
        height: @sidemenu-menu-item-height;
        line-height: @sidemenu-menu-item-height;
        width: @sidemenu-menu-item-height;
        text-align: center;
        .icomoon();
        font-style: normal;
        font-size: 1.250em;
        .transition(~"all .3s ease-out");

        &:before {
            content: '\e602';
            opacity: .7;
            .transition(opacity .3s ease-out);
        }
    }

    .submenu {
        list-style: none;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        z-index: 99;

        @media @tablet, @desktop {
            min-width: @sidemenu-width;
            left: -@header-icons-width - 1; // minus border width
        }

        &:before {
            content: '';
            position: absolute;
            top: -6px;
            left: (@header-icons-width + (@header-icons-width / 2) - 6);
            display: block;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
        }
        &:after {
            content: '';
            position: absolute;
            top: -4px;
            left: (@header-icons-width + (@header-icons-width / 2) - 4);
            display: block;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
        > li {
            > a, > span {
                display: block;

                @media @tablet, @desktop {
                    font-size: 0.813em;
                    padding: 10px @sidemenu-inside-padding;
                    min-height: @dropdown-min-height;
                    color: @header-icons-color;
                    .transition(background-color .4s ease-out);
                }

                &:hover {
                    /*background-color: @header-icons-bg-hover;*/
                }
            }
            // dropdown separator style
            &.separator {
                height: 1px;
                display: block;
                width: 100%;
            }
        }
    }
}

/* SCROLL ------------------------------------------------------- */

.scroll-container-wrapper {
    position: relative;
    left: 0;
    right: 0;
    height: 100%;

    .scroll-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        right: -@scroll-bar-offset;
    }
}

html.touch {
    .scroll-container {
        right: 0;
    }
}

.noSelect {
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}


/* --------------------------------------------------------------------------------
	SIDEMENU STYLE
-----------------------------------------------------------------------------------*/

#sidemenu-wrapper {
    position: fixed;
    display: block;
    z-index: 1000;
    height: 100%;
    width: @sidemenu-mobile-width;
    left: -@sidemenu-mobile-width;
    overflow: hidden;
    .transition(left .4s ease-out);

    .sidemenu-inner {
        display: table;
        height: 100%;
        width: 100%;
    }


    @media @mobile {
        width: @sidemenu-width;
        left: -@sidemenu-width;
    }
    @media @tablet {
        left: 0;
        .transition(~"left, width .4s ease-out");
        width: ((2 * @sidemenu-inside-padding) + @sidemenu-icon-width);
    }
    @media @desktop {
        left: 0;
        .transition(~"left, width .4s ease-out");
        width: @sidemenu-width;
    }

    .widgets-section {
        width: 100%;

        @media @tablet {
            display: none;
        }
        @media @desktop {
            display: block;
        }

        ol {
            margin-left: 0;
            padding: 0;
        }
    }
    .sidemenu-header {
        height: @header-height;
        line-height: @header-height;
        display: table-row;

        .logo {
            display: none;
            padding-left: @sidemenu-inside-padding;
            padding-right: @sidemenu-inside-padding;

            @media @tablet {
                display: block;
                padding: 0 (@sidemenu-inside-padding - 5);
            }
            @media @desktop {
                display: block;
                padding-left: @sidemenu-inside-padding;
                padding-right: @sidemenu-inside-padding;
            }
        }
        > p {
            margin: 0;
            padding:0 @sidemenu-inside-padding;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.05em;
            opacity: 0.95;


            @media @tablet, @desktop {
                display: none;
            }
        }
    }
    .sidemenu-main {
        height: 100%;
        display: table-row;

        .menu-section {
            padding: 0 @sidemenu-menu-item-padding;
            margin-right: 4px;

            @media @mobile {
                width: @sidemenu-width;
                margin-right: 0;
            }
            @media @tablet {
                width: ((2 * @sidemenu-inside-padding) + @sidemenu-icon-width);
                margin-right: 0;
                .transition(width .4s ease-out);
            }
            @media @desktop {
                width: @sidemenu-width;
                .transition(width .4s ease-out);
            }

            .menu-section-header {
                display: block;
                line-height: @sidemenu-menu-item-height;
                letter-spacing: @sidemenu-section-header-ls;
                font-size: @sidemenu-section-header-font-size;
                font-style: italic;
                margin: @sidemenu-menu-item-padding 0;
                overflow: hidden;
                padding: 0 @sidemenu-menu-item-padding;
                text-transform: uppercase;

                @media @tablet {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    margin: 0;
                    padding: 0;
                }

                @media @desktop {
                    width: auto;
                    height: auto;
                    margin: @sidemenu-menu-item-padding 0;
                    padding: 0 @sidemenu-menu-item-padding;
                    opacity: 1;
                }

                span {
                    @media @tablet, @desktop {
                        display: block;
                        width: (@sidemenu-width - (2 * @sidemenu-inside-padding));
                        .transition(~"width .4s ease-out, height .4s .4s ease-out, opacity .4s ease-out");
                    }
                }
            }
        }

        .scroll-container {
            > .menu-section:first-child {
                border-top: none;
            }
        }
        .menu-list {
            list-style: none;
            margin: 10px 0;

            > li {
                display: block;
                min-height: @sidemenu-menu-item-height;
                padding: @sidemenu-menu-item-padding;
                overflow: hidden;
                position: relative;
                margin-bottom: 0;
                .transition(~"margin .2s ease-out, background-color .4s ease-out");

                @media @tablet {
                    height: (@sidemenu-menu-item-height + (2 * @sidemenu-menu-item-padding));
                }
                @media @desktop {
                    height: auto;
                }


                > a {
                    display: block;
                    position: relative;
                    font-size: @menu-font-size;
                    font-weight: @menu-font-weight;
                    letter-spacing: @menu-font-spacing;
                    text-transform: @menu-font-tt;
                    line-height: @sidemenu-menu-item-height;
                    padding: 0 @sidemenu-inside-padding 0 (@sidemenu-icon-width + @sidemenu-inside-padding);


                    span {
                        display: block;
                        opacity: 0.85;

                        @media @tablet {
                            opacity: 0;
                            width: (@sidemenu-width - ((4 * @sidemenu-inside-padding) + @sidemenu-icon-width));
                            .transition(opacity .2s ease-out);
                        }

                        @media @desktop {
                            opacity: 0.8;
                            width: (@sidemenu-width - ((4 * @sidemenu-inside-padding) + @sidemenu-icon-width));
                            .transition(opacity .2s ease-out);
                        }
                    }
                    b {
                        left: 10px;
                        top: -6px;
                    }

                    /*** icons ***/
                    > i {
                        display: block;
                        width: @sidemenu-icon-width;
                        height: @sidemenu-icon-width;
                        line-height: @sidemenu-icon-width;
                        position: absolute;
                        left: 0;
                        top: 0;
                        .icomoon();
                        text-align: center;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        opacity: .8;
                        .transition(opacity .3s ease-out);
                    }

                    @media @tablet {
                        &:hover {
                            span {
                                opacity: 1;
                            }
                            > i {
                                opacity: 1;
                            }
                        }
                    }

                    &:active, &:focus {
                        span {
                            opacity: 1;
                        }
                    }
                }

                > .menu-arrow {
                    display: block;
                    position: absolute;
                    z-index: 999;
                    top: @sidemenu-menu-item-padding;
                    right: @sidemenu-menu-item-padding;
                    height: @sidemenu-menu-item-height;
                    line-height: @sidemenu-menu-item-height;
                    width: @sidemenu-menu-item-height;
                    text-align: center;
                    .icomoon();
                    font-style: normal;
                    font-size: 1.250em;
                    .transition(~"all .3s ease-out");

                    &:before {
                        content: '\e602';
                        opacity: .7;
                        .transition(opacity .3s ease-out);
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        display: block;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        opacity: 0;
                        .transition(opacity .3s ease-out);
                    }

                    &:active {
                        cursor: pointer;
                        opacity: .9;
                    }
                    &:hover {
                        @media @tablet, @desktop {
                            cursor: pointer;
                            opacity: .9;
                        }
                    }

                    @media @tablet {
                        height: (@sidemenu-menu-item-height + (2 * @sidemenu-menu-item-padding));
                        line-height: (@sidemenu-menu-item-height + (2 * @sidemenu-menu-item-padding));
                        width: (@sidemenu-menu-item-height + (2 * @sidemenu-menu-item-padding));
                        top: 0;
                        right: 0;
                        &:before {
                            opacity: 0;
                        }
                        &:after {
                            opacity: 0.4;
                        }
                        &:hover {
                            &:after {
                                opacity: 0.7;
                            }
                        }
                    }
                    @media @desktop {
                        height: @sidemenu-menu-item-height;
                        line-height: @sidemenu-menu-item-height;
                        width: @sidemenu-menu-item-height;
                        top: @sidemenu-menu-item-padding;
                        right: @sidemenu-menu-item-padding;
                        &:before {
                            opacity: .7;
                        }
                        &:after {
                            opacity: 0;
                        }
                        &:hover {
                            &:after {
                                opacity: 0;
                            }
                        }
                    }
                }

                > .submenu {
                    margin: 10px 0;
                    position: static;
                    min-width: auto;
                    border: none;
                    background: none;
                    display: none;
                    list-style: none;
                    > li {
                        &.footer-item > a {
                            padding: 5px 20px 5px 5px;
                            &:before {
                                background: none;
                            }
                        }
                        > a {
                            display: block;
                            position: relative;
                            font-size: @submenu-font-size;
                            margin: 0;
                            padding: 2px @sidemenu-inside-padding 2px (@sidemenu-icon-width + @sidemenu-inside-padding);
                            opacity: 0.75;
                            min-height: @submenu-item-height;
                            line-height: @submenu-item-height;
                            font-weight: @submenu-font-weight;
                            letter-spacing: @sidemenu-section-header-ls;
                            @media @tablet, @desktop {
                                .transition(opacity .3s ease-out);
                                &:hover {
                                    opacity: 9.5;
                                }
                            }

                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 4px;
                                height: 4px;
                                border-radius: 4px;
                                top: ((@submenu-item-height / 2) + 3px);
                                left: ((@sidemenu-menu-item-height / 2) - 2px);
                                opacity: .9;
                            }
                        }
                    }
                }

                /* li active */
                &.active {
                    border-radius: 3px;
                    margin-bottom: 10px;

                    @media @tablet {
                        margin-bottom: 0;
                    }
                    @media @desktop {
                        margin-bottom: 10px;
                    }

                    > a {
                        span {
                            opacity: 0.95;
                        }
                    }
                    > ul.submenu {
                        /*display: block;*/
                    }
                    .menu-arrow {
                        &:before {
                            content: '\e603';
                        }
                    }
                }
            }
        }
    }
    .sidemenu-footer {
        display: none;
    }

    &.has-sidemenu-footer {
        .sidemenu-footer {
            display: table-row;
            width: @sidemenu-mobile-width;
            height: 100%;
            font-size: 0.750em;

            @media @tablet {
                height: 0;
                width: 0;
                overflow: hidden;
                .transition(all .4s ease-out);
            }
            @media @desktop {
                height: 100%;
                width: 100%;
            }

            .sidemenu-footer-inner {
                display: block;
                font-size: 11px;
                height:auto;
                min-height:30px;
                padding: @sidemenu-inside-padding;
                overflow: hidden;
                width: 100%;
                float: left;

                @media @tablet {
                    height:0;
                    min-height:0;
                    padding: 0;
                    border-top: 0;
                    width: @sidemenu-width;
                    opacity: 0;
                    .transition(all .4s ease-out);
                }

                @media @desktop {
                    height:auto;
                    min-height:30px;
                    padding: @sidemenu-inside-padding;
                    opacity: 1;
                    .transition(all .3s ease-out);
                }

                a {
                    font-weight: bold;
                }
            }
        }
    }
}


/* SIDEMENU Open - #sidemenu-wrapper ------------------------------------------------------- */

.sidemenu-is-open {
    #sidemenu-wrapper {
        left:0;

        @media @tablet {
            width: @sidemenu-width;
            .sidemenu-header {
                .logo {
                    padding-left: @sidemenu-inside-padding;
                    padding-right: @sidemenu-inside-padding;
                }
            }
            .menu-section {
                width: @sidemenu-width;
                .menu-section-header {
                    width: auto;
                    height: auto;
                    margin: @sidemenu-menu-item-padding 0;
                    padding: 0 @sidemenu-menu-item-padding;
                    opacity: 1;
                }
                .menu-list {
                    li {
                        height: auto;
                        &.active {
                            margin-bottom: 10px;
                        }
                        a {
                            span {
                                opacity: 0.8;
                            }
                        }
                        > .menu-arrow {
                            height: @sidemenu-menu-item-height;
                            line-height: @sidemenu-menu-item-height;
                            width: @sidemenu-menu-item-height;
                            top: @sidemenu-menu-item-padding;
                            right: @sidemenu-menu-item-padding;
                            &:before {
                                opacity: 1;
                            }
                            &:after {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }

        @media @desktop {
            width: ((2 * @sidemenu-inside-padding) + @sidemenu-icon-width);

            .sidemenu-header {
                .logo {
                    padding: 0 (@sidemenu-inside-padding - 5);
                }
            }
            .menu-section {
                width: ((2 * @sidemenu-inside-padding) + @sidemenu-icon-width);
                .menu-section-header {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    display: none;
                }
                .menu-list {
                    li {
                        height: (@sidemenu-menu-item-height + (2 * @sidemenu-menu-item-padding));
                        a {
                            span {
                                opacity: 0;
                            }
                        }
                        > .menu-arrow {
                            height: (@sidemenu-menu-item-height + (2 * @sidemenu-menu-item-padding));
                            line-height: (@sidemenu-menu-item-height + (2 * @sidemenu-menu-item-padding));
                            width: (@sidemenu-menu-item-height + (2 * @sidemenu-menu-item-padding));
                            top: 0;
                            right: 0;
                            &:before {
                                opacity: 0;
                            }
                            &:after {
                                opacity: 0.4;
                            }
                            &:hover {
                                &:after {
                                    opacity: 0.7;
                                }
                            }
                        }
                        &.active {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &.has-sidemenu-footer {
            .sidemenu-footer {
                @media @tablet {
                    height: 100%;
                    width: 100%;
                }

                @media @desktop {
                    height: 0;
                    width: 0;
                }
                .sidemenu-footer-inner {
                    @media @tablet {
                        height:auto;
                        min-height:30px;
                        padding: @sidemenu-inside-padding;
                        opacity: 1;
                    }
                    @media @desktop {
                        height:0;
                        min-height:0;
                        padding: 0;
                        border-top: 0;
                        opacity: 0;
                    }
                }
            }
        }
        .widgets-section {
            @media @tablet {
                display: block;
            }
            @media @desktop {
                display: none;
            }
        }
    }
}

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.logo {
    width: 100%;
    z-index: inherit;
    display:block;
    font-size: 1.250em;
    line-height: @header-height;

    a {
        transition: none;
        display: block;
        line-height: @header-height;

        &.mini-logo {
            display: none;
            .transition(text-align .4s ease-out);

            @media @tablet {
                display: block;
                //text-align: center;
            }
            @media @desktop {
                display: none;
            }
        }

        &.real-logo {
            @media @tablet {
                display: none;
            }
            @media @desktop {
                display: block;
            }
        }
    }
    i {
        margin: 0 10px;
    }
    img {
        max-height: @logo-max-height;
        max-width: inherit;
    }
}


/* SIDEMENU Open - .logo ------------------------------------------------------- */


.sidemenu-is-open {
    .logo {
        a {
            @media @tablet {
                &.mini-logo {
                    display: none;
                }
                &.real-logo {
                    display: block;
                }
            }

            @media @desktop {
                &.mini-logo {
                    opacity: 1;
                    display: block;
                    //text-align: center; Temporar
                    padding-left: 5px;
                }
                &.real-logo {
                    display: none;
                }
            }
        }
    }
}

#header-wrap {
    .logo {
        text-align: center;
        position: absolute;

        @media @tablet, @desktop {
            display: none;
        }
    }
}


/* ----------------------------------------------------------------
	HEADER
-------------------------------------------------------------------*/

#header {
    min-height: @header-height;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 999;
    width: 100%;
    border: none;
    .transition(~"top .2s ease-out, left .4s ease-out, padding-left .4s ease-out, min-height .4s ease-out");

    @media @tablet {
        min-height: @header-height;
        left: 0;
        padding-left: ((2 * @sidemenu-inside-padding) + @sidemenu-icon-width);
    }

    @media @desktop {
        min-height: @header-height;
        left: 0;
        padding-left: @sidemenu-width;
    }

    #header-wrap {
        width: 100%;
        min-height: @header-height;
        .transition(height .4s ease-out);

        > .container-fluid {
            position: relative;
            padding: 0;
        }

        /* header block sections*/
        .header-left {
            position: relative;
            float: left;
        }

        .header-right {
            float: right;
            position: relative;
            @media @tablet, @desktop {
                display: none;
            }
        }
    }
}



/* SIDEMENU Open - #header ------------------------------------------------------- */

.sidemenu-is-open {
    #header {
        left: @sidemenu-mobile-width;

        @media @mobile {
            left: @sidemenu-width;
        }
        @media @tablet {
            left: 0;
            padding-left:@sidemenu-width;
        }

        @media @desktop {
            left: 0;
            padding-left: ((2 * @sidemenu-inside-padding) + @sidemenu-icon-width);
        }
    }
}


/* ----------------------------------------------------------------
	SECONDMENU
-------------------------------------------------------------------*/

.second-menu {
    position: fixed;
    right: -@sidemenu-mobile-width;
    width: @sidemenu-mobile-width;
    height: 100%;
    overflow: hidden;
    .transition(right .4s ease-out);

    @media @mobile {
        width: @sidemenu-width;
        right: -@sidemenu-width;
    }
    @media @tablet, @desktop {
        position: static;
        overflow: visible;
        width: auto;
        right: 0;
    }

    .second-menu-inner {
        display: table;
        height: 100%;
        width: 100%;
        @media @tablet {
            display: block;
        }
    }

    .second-menu-header {
        height: @header-height;
        display: table-row;

        @media @tablet, @desktop {
            display: block;
            line-height: @header-height;
            position: absolute;
            float: left;
            width: auto;
            padding: 0 @sidemenu-inside-padding;
            z-index: 10;
            /*.transition(left .4s ease-out);*/
        }

        @media @tablet {
            right: (@header-height - 1px);
            left: @header-height;
            .transition(left .4s ease-out);
            &.expand {
                left: (@header-height - 1px) !important;
            }
        }
        @media @desktop {
            left: @header-height;
            right: (@sidemenu-width - 1px);
        }
    }
    .second-menu-main {
        height: 100%;
        display: table-row;
        @media @tablet {
            display: block;
        }

        .scroll-container-wrapper {
            @media @tablet, @desktop {
                position: static;
                display: block;
                left: inherit;
                right: inherit;
                height: auto;
            }
            .scroll-container {
                @media @tablet, @desktop {
                    position: static;
                    right: inherit;
                    overflow: inherit;
                }
                > div:not(.second-menu-section) {
                    display: -moz-box;
                    display: -webkit-box;
                    display: box;
                }
            }
        }
    }
    .second-menu-footer {
        display: table-row;
        @media @tablet {
            display: block;
        }
    }

    .search-form {
        input.header-search {
            display: inline-block;
            margin: 0;
            padding: 0 @sidemenu-inside-padding;
            border: none;
            height: @header-height;
            line-height: normal;
            width: 100%;
            background: @search-bg-mobile;
            font-size: 0.813em;
            font-weight: 400;
            letter-spacing: @search-text-ls;
            .transition(background-color .4s ease-out);
            .placeholder(@search-color-mobile);
            border-radius: 0;
            color: @search-color-mobile;
            .placeholder(@search-color-mobile);
            &:focus {
                background-color: @search-bg-focus-mobile;
            }

            @media @tablet, @desktop {
                background-color: @search-bg;
                height: @input-height;
                border-radius: @input-height;
                color: @search-color;
                .placeholder(@search-color);

                &:focus {
                    background-color: @search-bg-focus;
                }
            }
        }


        .header-search-button {
            display: block;
            height: @header-height;
            width: @header-height;
            line-height: @header-height;
            border: none;
            background: transparent;
            position: absolute;
            top: 0;
            right: 0px;
            .icomoon("\e60e",14px,'before');

            &:before {
                width:14px;
                height:14px;
                position:absolute;
                top:50%;
                left:50%;
                margin-top:-7px;
                margin-left:-7px;
                color: @search-color-mobile;
            }

            @media @tablet, @desktop {
                padding: 0 20px;
                width: @input-height;
                &:before {
                    color: @search-color;
                }
            }
        }

        .header-search-button.animate-spin {
            .icomoon("\e8c1",14px,'before');
        }
    }

    .kleo_ajax_results {
        text-align: center;
        line-height: normal;
        /*margin-top: 5px;*/
        padding: 20px;
        margin-left: -20px;
        max-height: 350px;
        /*max-width: 400px;*/
        overflow: auto;
        position: relative;
        z-index: 100;
        width: ~"calc(100% + 20px)";

        @media @tablet {
            position: static;
        }

        &:empty {
            display: none;
        }

        &.search-style-default {
            /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);*/
        }
        &.search-style-transparent {
            /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);*/
        }

        h4, .kleo_ajax_entry {
            text-align: left;
        }
        h4 {
            font-size: 12px;
            font-weight: bold;
            height: 12px;
            text-transform: uppercase;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            margin: 0 0 30px 0;
        }

        h4 span {
            position: relative;
            top: 0;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding: 0 8px;
            margin-left: 5px;
            font-size: 16px;
        }

        .kleo-ajax-part {
            margin-bottom: 30px;
        }
        .searchHidden {
            display: none;
        }
        .kleo_ajax_entry {
            padding: 5px 5px 5px 10px;
            display: table;
            width: 100%;
        }
        .kleo_ajax_entry .search_excerpt {
            font-size: 11px;
        }
        .kleo_ajax_entry .ajax_search_image .icon {
            width: 44px;
            height: 44px;
            line-height: 42px;
            display: inline-block;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .kleo_ajax_entry:last-child {
            border: none;
        }
        .ajax_not_found {
            font-style: italic;
            padding: 0;
        }


        .ajax_search_content {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            padding-left: 10px;
            font-size: 13px;
            line-height: 22px;
        }
        .ajax_search_content .search_title {
            display: inline-block;
            float: left;
            width: 100%;
            line-height: 18px;
            font-size: 13px;
            font-weight: 400;
        }
        .ajax_search_content .search_excerpt {
            display: inline-block;
            float: left;
            line-height: 16px;
        }
        .ajax_search_image {
            width: 44px !important;
            height: 44px;
            line-height: 44px;
            text-align: center;
            display: table-cell;
        }
        .ajax_search_image img {
            width: 100%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .ajax_search_image img.attachment-thumbnail {
            border-radius: 100%;
            width: 44px;
        }
        .ajax_search_image img.attachment-thumbnail.wp-post-image {
            height: 100%;
        }
        a.ajax_view_all {
            border: none;
            min-height: 30px;
            padding: 5px 20px;
            border-radius: 30px;
            margin-bottom: 30px;
            font-size: 12px;
            font-size: 0.750rem;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            cursor: pointer !important;
            .transition(background .3s ease-out);
        }
        a.ajax_view_all {
            .icomoon("\e60e",14px,'after');
        }
        a.ajax_view_all:after {
            margin-left: 10px;
            position:relative;
            top:2px;
        }
    }

    .language-menu {
        display: none;
    }

    .header-icons {
        margin: 10px 0 0 0;
        padding: 0 (@sidemenu-menu-item-padding * 2)  0 @sidemenu-menu-item-padding;
        list-style: none;

        > li {
            display: block;
            min-height: @sidemenu-menu-item-height;
            padding: 0 0 0 @sidemenu-menu-item-padding;
            overflow: hidden;
            position: relative;
            margin-bottom: 0;

            > a {
                display: block;
                position: relative;
                font-size: @menu-font-size;
                font-weight: @menu-font-weight;
                letter-spacing: @menu-font-spacing;
                text-transform: @menu-font-tt;
                line-height: @sidemenu-menu-item-height;
                padding: @sidemenu-menu-item-padding (@sidemenu-icon-width + @sidemenu-inside-padding + 5px) @sidemenu-menu-item-padding (@sidemenu-icon-width + @sidemenu-inside-padding);


                > span {
                    opacity: 0.85;
                    .transition(opacity .4s ease-out);
                }
                > i {
                    display: block;
                    width: @sidemenu-icon-width;
                    height: @sidemenu-icon-width;
                    line-height: @sidemenu-icon-width;
                    position: absolute;
                    left: 0;
                    .icomoon();
                    text-align: center;
                    font-size: 1.125em;
                    font-style: normal;
                    font-weight: 400;
                    opacity: 1;
                }

                > .bubble {
                    left: inherit;
                    right: (@sidemenu-menu-item-height + (@sidemenu-menu-item-padding / 2));
                    top: (((@sidemenu-menu-item-height + (@sidemenu-menu-item-padding * 2)) - @bubble-height) / 2);

                    /*left: 12px;
              top: 5px;*/
                }

                &:active, &:focus {
                    span {
                        opacity: 1;
                    }
                }
            }
            > .menu-arrow {
                display: block;
                position: absolute;
                z-index: 800;
                top: @sidemenu-menu-item-padding;
                right: 0;
                height: @sidemenu-menu-item-height;
                line-height: @sidemenu-menu-item-height;
                width: @sidemenu-menu-item-height;
                text-align: center;
                .icomoon();
                font-style: normal;
                font-size: 1.250em;
                .transition(~"all .3s ease-out");

                &:before {
                    content: '\e602';
                    opacity: .8;
                    .transition(opacity .3s ease-out);
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    opacity: 0;
                    .transition(opacity .3s ease-out);
                }

                &:active {
                    cursor: pointer;
                    opacity: .9;
                }
            }
            &.has-submenu {
                .submenu {
                    &:before, &:after {
                        display: none;
                    }
                    position: static;
                    min-width: 100%;
                    padding: 0;

                    > li {
                        min-height: @submenu-item-height;
                        line-height: @submenu-item-height;
                        font-weight: @submenu-font-weight;
                        /*letter-spacing: @sidemenu-section-header-ls;*/
                        font-size: @submenu-font-size;
                        padding: 10px 0;

                        ol.todolist {
                            margin-left: 0;
                            li {
                                padding: 10px 8px 10px 41px;
                                &:before {
                                    left: 0;
                                }
                            }
                        }

                        &.kleo-submenu-item {
                            a {
                                padding: 0;
                            }
                        }
                        > a {
                            display: block;
                            position: relative;
                            /*font-size: @submenu-font-size;*/
                            margin: 0;
                            padding: 10px;
                            opacity: 0.75;
                            min-height: @submenu-item-height;
                            line-height: @submenu-item-height;
                            font-weight: @submenu-font-weight;
                            letter-spacing: @sidemenu-section-header-ls;
                            &:hover {
                                background: transparent;
                            }
                        }
                        &.separator {
                            display: none;
                        }


                        &.footer-item {
                            padding: 0;
                            margin-bottom: 10px;

                            a {
                                padding-right: 20px;
                                font-weight: 400;
                                font-size: 0.857em;
                                .transition(color .3s ease-out);

                                &:before {
                                    content: "\e860";
                                    .icomoon();
                                    display: inline-block;
                                    font-size: 1.250em;
                                    margin: 0 18px 0 7px;
                                    float: left;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                &.open {
                    .submenu {
                        > li {
                            > a {
                                opacity: 1;
                                span {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .menu-arrow {
                        &:before {
                            content: '\e603';
                        }
                    }
                }
            }


            &.kleo-messages-nav.has-submenu {
                .submenu {
                    li {
                        &.kleo-submenu-item {
                            &.unread {
                                background-color: transparent;
                            }


                            .message-thumb {
                                img {
                                    max-width: 30px;
                                }
                            }

                            .message-from {
                                a {
                                    font-size: 0.786em;
                                    line-height: 12px;
                                    letter-spacing: 0;
                                }
                            }

                            .message-date {
                                font-size: 9px;
                                line-height: 12px;
                                font-style: italic;
                            }

                            .message-body {
                                padding-left: 40px;
                                padding-top: 10px;

                                a {
                                    font-size: 12px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }


        @media @tablet, @desktop {
            float: left;
            margin: 0;
            list-style: none;
            padding: 0;

            > li {
                float: left;
                min-height: auto;
                overflow: visible;
                /*width: @header-icons-width;*/
                padding: 0 20px;
                .transition(background-color .4s ease-out);
                > a {
                    position: static;
                    display: block;
                    height: @header-height;
                    font-size: 1rem;
                    letter-spacing: 0;
                    text-transform: none;
                    line-height: @header-height;
                    text-align: center;
                    padding: 0;

                    span {
                        position: absolute;
                        display: block;
                        left: 0;
                        right: 0;
                        bottom: 6px;
                        font-size: 0.563em;
                        font-style: italic;
                        letter-spacing: 0.03em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0 7px;
                        height: 10px;
                        line-height: 10px;
                        white-space: nowrap;
                        opacity: 0;
                        .transition(opacity .4s ease-out);
                    }

                    /*** icons ***/
                    > i {
                        display: block;
                        position: static;
                        width: auto;
                        height: auto;
                        left: inherit;
                        line-height: @header-height;

                        &:before {
                            font-size: 1.250em;
                            .transition(color .4s ease-out);
                        }
                    }

                    &:hover {
                        > i {
                            &:before {
                                /*color: @header-icons-color-hover;*/
                                opacity: .8;
                            }
                        }
                        span {
                            opacity: 1;
                        }
                    }
                    /*** bubble notification ***/
                    > .bubble {
                        top: 50%;
                        left: 50%;
                        right: inherit;
                        margin-top: (-@bubble-height - 3);
                    }
                }
                > .menu-arrow {
                    display: none;
                }

                &.has-submenu {
                    .submenu {
                        font-size: 1rem;
                        &:before, &:after {
                            display: inline-block;
                        }
                        position: absolute;
                        min-width: @sidemenu-width;
                        left: -@header-icons-width - 1; // minus border width

                        > li {
                            float: none;
                            border: none;
                            font-size: 0.750em;
                            padding: 10px;

                            &:nth-last-child(2) {
                                border-bottom: none;
                            }

                            ol.todolist {
                                margin-left: 0;
                                li {
                                    padding: 8px 10px 8px 42px;
                                    margin-bottom: 0;
                                    &:before {
                                        top: 8px;
                                        left: 7px;
                                    }
                                }
                            }

                            > a {
                                display: block;
                                position: static;
                                padding: 10px @sidemenu-menu-item-padding;
                                font-weight: normal;
                                min-height: @dropdown-min-height;
                                line-height: normal;
                                letter-spacing: 0;
                                opacity: 1;
                                .transition(opacity .3s ease-out);
                                font-size: 1em;

                                &:hover {
                                    opacity: .8;
                                }
                            }
                            &.separator {
                                display: block;
                            }

                            &.footer-item {
                                font-size: 0.813em;
                                margin-bottom: 0;
                                a {
                                    &:hover, &:focus {
                                        background: transparent;
                                    }
                                }
                            }
                        }
                    }

                    // open dropdown
                    &.active {
                        background: @header-icons-bg-hover;
                        .submenu {
                            z-index: 100;
                        }
                        > a {
                            color: @header-icons-color-hover;
                            span {
                                opacity: 1;
                                color: @header-icons-color-hover;
                            }
                            >i {
                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &:first-child {
                        .submenu {
                            left: -@header-height - 1;
                            &:before {
                                left: (@header-height + (@header-icons-width / 2) - 6);
                            }
                            &:after {
                                left: (@header-height + (@header-icons-width / 2) - 4);
                            }
                        }
                    }
                }

                &.kleo-messages-nav.has-submenu {
                    .submenu {
                        li {
                            &.kleo-submenu-item {
                                .message-body {
                                    a {
                                        display: block;
                                        position: relative;
                                        padding-right: 20px;

                                        &:after {
                                            content: '\e860';
                                            display: block;
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            .icomoon();
                                            opacity: 0;
                                            .transition(opacity .3s ease-out);
                                        }

                                        &:hover {
                                            &:after {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .my-profile-wrapper {
        > a {
            display: block;
            min-height: @header-height;

            .my-profile-name {
                display: block;
                height: @header-height;
                line-height: @header-height;
                padding: 0;
                text-align: left;
                font-weight: 400;

                b {
                    display: block;
                    font-weight: 400;
                    .transition(color .4s ease-out);
                    padding-right: (@sidemenu-menu-item-padding * 2);
                    height: @header-height;
                    opacity: .8;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: @menu-font-size;
                    width: auto;
                }
            }

            .my-profile-image {
                float: left;
                width: @header-height;
                height: @header-height;
                line-height: (@header-height - 2);
                text-align: center;
                span {
                    display: block;
                    width: 30px;
                    margin: 0 auto;
                    img {
                        border-radius: 50%;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        &.open {
            > a {
                b {
                    opacity: 1;
                }
            }
        }

        .submenu {
            &:before, &:after {
                display: none;
            }
            position: static;
            min-width: 100%;
            padding: 0 (@sidemenu-menu-item-padding * 2);
            margin: 0;

            > li {
                > a {
                    display: block;
                    position: relative;
                    font-size: @submenu-font-size;
                    margin: 0;
                    opacity: 1;
                    min-height: @submenu-item-height;
                    line-height: @submenu-item-height;
                    font-weight: @submenu-font-weight;
                    letter-spacing: @sidemenu-section-header-ls;
                    padding: @sidemenu-menu-item-padding (@sidemenu-inside-padding + 10) @sidemenu-menu-item-padding (@sidemenu-icon-width + @sidemenu-inside-padding);

                    > i {
                        display: block;
                        width: @sidemenu-icon-width;
                        height: @sidemenu-icon-width;
                        line-height: @sidemenu-icon-width;
                        position: absolute;
                        left: 0;
                        .icomoon();
                        text-align: center;
                        font-size: 1.125em;
                        font-style: normal;
                        font-weight: 400;
                    }
                    > span {
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 10px;
                        font-size: 9px;
                        font-weight: 400;
                        padding: 0px 5px;
                        height: 15px;
                        line-height: 15px;
                        border-radius: 15px;
                        letter-spacing: 0;
                    }

                    &:hover {
                        background-color: transparent;
                    }
                }
                > .menu-arrow {
                    display: none;
                }
                &.separator {
                    display: none;
                }
                .no-count {
                    display: none;
                }
            }
        }

        @media @tablet, @desktop {
            float: right;
            display: block;
            .transition(background .4s ease-out);


            > a {
                display: block;
                height: @header-height;

                .my-profile-name {
                    display: table;
                    height: @header-height;
                    line-height: normal;
                    //width: (@sidemenu-width - @header-height - 2);
                    //padding: 0 @sidemenu-menu-item-padding;
                    text-align: right;
                    overflow: hidden;
                    float: right;

                    b {
                        display: table-cell;
                        font-weight: 600;
                        font-size: 0.813em;
                        padding: 0;
                        width: auto;
                        white-space: normal;
                        vertical-align: middle;
                        .transition(color .4s ease-out);
                    }
                }

                .my-profile-image {
                    display: block;
                    position: relative;
                    float: right;
                    width: @header-height;
                    height: @header-height;
                    line-height: (@header-height - 2);
                    text-align: center;
                    > i {
                        &:before {
                            font-size: 1.250em;
                            color: @header-icons-color;
                            .transition(color .4s ease-out);
                        }
                    }
                    span {
                        width: 40px;
                    }
                }
                &:hover {
                    // a:hover
                    .my-profile-image {
                        i {
                            &:before {
                                opacity: .8;
                            }
                        }
                    }
                    .my-profile-name {
                        b {
                            opacity: .8;
                        }
                    }
                }
            }


            /* my-profile-wrapper dropdown */
            .submenu {
                position: absolute;
                left: initial;
                right: 0;
                min-width: @sidemenu-width;
                padding: 0;
                max-height: 400px;
                overflow: auto;

                &:before {
                    left: initial;
                    right: ((@header-height / 2) - 6);
                }
                &:after {
                    left: initial;
                    right: ((@header-height / 2) - 4);
                }

                li {
                    padding: 0px;
                    border: none;
                    &:first-child {
                        border-top: none;
                    }

                    a {
                        position: relative;
                        font-size: 0.813em;
                        min-height: @dropdown-min-height;
                        font-weight: 400;
                        letter-spacing: 0;
                        .transition(background-color .4s ease-out);
                        padding: @sidemenu-menu-item-padding (@sidemenu-inside-padding + 30px) @sidemenu-menu-item-padding (@sidemenu-icon-width + @sidemenu-inside-padding);


                        > i {
                            left: @sidemenu-menu-item-padding;
                        }
                        > span {
                            display: block;
                            position: absolute;
                            right: 20px;
                            top: 11px;
                            font-size: 10px;
                            padding: 0 6px;
                            height: 15px;
                            line-height: 15px;
                            border-radius: 7px;
                            letter-spacing: 0.04em;
                            text-align: center;
                        }
                    }

                    .no-count {
                        display: none;
                    }
                }
            }
            &.active {
                background: @header-icons-bg-hover;
                .my-profile-image {
                    > i {
                        &:before {
                            color: @header-icons-color-hover;
                        }
                    }
                }
                .my-profile-name {
                    b {
                        color: @header-icons-color-hover;
                    }
                }
            }
        }
        @media @tablet {
            width: @header-height;
            > a {
                .my-profile-name {
                    display: none;
                }
            }
        }
        @media @desktop {
            > a {
                .my-profile-name {
                    display: block;
                }
            }
            width: @sidemenu-width;
            padding-right: 10px;
        }
    }
}


/* has-language ------------------------------------------------------- */

header.has-language {
    .second-menu {
        .second-menu-header {
            @media @tablet {
                padding: 0 0 0 @sidemenu-inside-padding;
                right: (@header-height * 2);
            }
            @media @desktop {
                padding: 0 0 0 @sidemenu-inside-padding;
                right: (@sidemenu-width + @header-height);
            }
        }

        .second-menu-main {
            @media @tablet, @desktop {
                padding-bottom: 0;
            }
        }


        @media @tablet, @desktop {
            padding-bottom: 0;
        }


        .second-menu-header {
            @media @tablet {
                border-right: none;
            }
        }
        .language-menu {
            display: block;
            height: @header-height;
            line-height: @header-height;
            bottom: 0;
            width: 100%;
            background-color:@language-background;

            @media @tablet, @desktop {
                position: relative;
                float: right;
                height: @header-height;
                width:@header-height;
                line-height: @header-height;
                text-align: center;
                background-color: transparent;
            }

            > a {
                display: block;
                padding:0 @sidemenu-menu-item-padding 0 (@sidemenu-menu-item-padding * 2);
                font-size: 0.813em;
                letter-spacing: @menu-font-spacing;

                &:hover {
                    cursor: pointer;
                }

                @media @tablet, @desktop {
                    display: inline-block;
                    width: @input-height;
                    height: @input-height;
                    line-height: @input-height;
                    border-radius: @input-height;
                    text-align: center;
                    font-size: 0.813em;
                    letter-spacing: 0;
                    padding: 0;
                }
            }

            .submenu {
                position: absolute;
                bottom: @header-height;
                width: 100%;
                background:@language-background;

                &:before {
                    display: none;
                }
                &:after {
                    display: none;
                }

                > li {
                    > a {
                        display: block;
                        padding:@sidemenu-menu-item-padding @sidemenu-menu-item-padding @sidemenu-menu-item-padding (@sidemenu-menu-item-padding * 2);
                        font-size: 0.813em;
                        min-height: @sidemenu-menu-item-height;
                        line-height: @sidemenu-menu-item-height;
                        letter-spacing: @menu-font-spacing;
                    }
                }

                @media @tablet, @desktop {
                    top: 100%;
                    bottom:auto;
                    width: @header-height;
                    min-width: auto;
                    left: 1px;

                    &:before {
                        display: block;
                        left: 50%;
                        margin-left:-6px;
                    }
                    &:after {
                        display: block;
                        left: 50%;
                        margin-left:-4px;
                    }
                    > li {
                        > a {
                            display: block;
                            line-height: @dropdown-min-height;
                            padding: 10px @sidemenu-inside-padding;
                            opacity: 0.7;
                            .transition(~"color .3s ease-out, opacity .3s ease-out");

                            &:hover, &:focus {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            &.open {
                > a {
                    @media @tablet, @desktop {
                        background: @search-bg;
                        opacity: .8;
                    }
                }
            }
        }
    }
}

/* SECONDMENU Open ------------------------------------------------------- */

.second-menu-is-open {
    .second-menu {
        right: 0;
    }
    #header {
        .transition(none);
        .transition(right .4s ease-out);
        left: inherit;
        right: @sidemenu-mobile-width;
        @media @mobile {
            left: inherit;
            right: @sidemenu-width;
        }
    }
}


/* ----------------------------------------------------------------
	MAIN CONTENT - #page-wrapper
-----------------------------------------------------------------*/

#page-wrapper {
    position: relative;
    left:0;
    right: 0;
    overflow: hidden;

    .transition(left .4s ease-out);
    padding-top: @header-height;

    @media @tablet {
        left: 0;
        padding-left: ((2 * @sidemenu-inside-padding) + @sidemenu-icon-width);
        .transition(padding-left .4s ease-out);
    }

    @media @desktop {
        padding-left: @sidemenu-width;
        .transition(padding-left .4s ease-out);
    }
}

/* SIDEMENU Open ------------------------------------------------------- */

.sidemenu-is-open {
    #page-wrapper {
        position: relative;
        left: @sidemenu-mobile-width;

        @media @mobile {
            left: @sidemenu-width;
        }
        @media @tablet {
            left: 0;
            padding-left: @sidemenu-width;
        }
        @media @desktop {
            left:0;
            padding-left: ((2 * @sidemenu-inside-padding) + @sidemenu-icon-width);
        }
    }
}

/* SECONDMENU Open ------------------------------------------------------- */

.second-menu-is-open {
    #page-wrapper {
        position: relative;
        left: -@sidemenu-mobile-width;

        @media @mobile {
            left: -@sidemenu-width;
        }
        @media @tablet, @desktop {
            left: 0;
        }
    }
}

/* Menu items */
/*#header .footer-item {
}*/



/* ----------------------------------------------------------------
	ADMIN BAR enabled
-----------------------------------------------------------------*/

.adminbar-enable {
    #header {
        top: 46px;
    }
}

@media screen and (max-width: 600px) {
    html {
        .transition(margin-top .2s ease-out);
    }

    .sidemenu-footer {
        .sidemenu-footer-inner {
            margin-bottom: 46px;
            .transition(margin-bottom .2s ease-out);
        }
    }

    .adminbar-enable {
        .second-menu-footer {
            .language-menu {
                margin-bottom: 46px;
                .transition(margin-bottom .2s ease-out);
            }
        }
    }

    html.header-scrolled {
        margin-top: 0 !important;

        .adminbar-enable {
            #header {
                top: 0;
            }
            .sidemenu-footer {
                .sidemenu-footer-inner {
                    margin-bottom: 0;
                }
            }
            .second-menu-footer {
                .language-menu {
                    margin-bottom: 0;
                }
            }
        }
        #wpadminbar {
            z-index: 800 !important;
        }
    }

    #wpadminbar {
        position: fixed;
    }
}

@media screen and (min-width: 783px) {
    .adminbar-enable {
        #header {
            top: 32px;
        }

        .sidemenu-footer {
            .sidemenu-footer-inner {
                margin-bottom: 0;
            }
        }
    }
}
























