/* Theme Color Init
-----------------------------------------------------------------*/

.header-colors {
  .theme-colors-config(
          @header-background-color;
          @header-border-color;
          @header-heading-color;
          @header-text-color;
          @header-link-color;
          @header-hover-link-color;
          @header-accent-color);
}
.page-title-colors {
  .theme-colors-config(
          @page-title-background-color;
          @page-title-border-color;
          @page-title-heading-color;
          @page-title-text-color;
          @page-title-link-color;
          @page-title-hover-link-color;
          @page-title-accent-color);
}


/* ----------------------------------------------------------------
    Specific elements colors
-----------------------------------------------------------------*/

.sidemenu-colors {
  .sections-colors-config(
          @sidemenu-background-color;
          @sidemenu-border-color;
          @sidemenu-heading-color;
          @sidemenu-text-color;
          @sidemenu-link-color;
          @sidemenu-hover-link-color;
          @sidemenu-accent-color);
}

.sidebar-colors {
  .sections-colors-config(
          @default-background-color;
          @default-border-color;
          @default-heading-color;
          @default-text-color;
          @default-link-color;
          @default-hover-link-color;
          @default-accent-color);
}