#buddypress form#whats-new-form #whats-new-options select {
    border-color: @default-border-color !important;
}
#ctdl-frontend-admin {
    table.todo-table p, table.todo-table span {
        color: contrast(@default-background-color, black, white, 60%);
    }
    table.todo-table tr td.todo-actions {
        a {
            &.edit-todo, &.delete-todo {
                color: @default-link-color;
                &:hover {
                    color: @default-hover-link-color;
                }
            }
        }
    }
    .wp-editor-container {
        border:1px solid @default-border-color;
    }
    #cleverness-todo-progress-slider {
        background: @default-border-color;
    }
    #cleverness-todo-progress-slider .ui-slider-handle {
        background: @default-link-color;
        border: @default-link-color;
    }
    #cleverness-todo-progress-slider .ui-slider-handle.ui-state-hover, #cleverness-todo-progress-slider .ui-slider-handle.ui-state-active {
        background: @default-hover-link-color;
        border: @default-hover-link-color;
    }
}
#ctdl-frontend-admin {
    .todo-table, .todo-form {
        tr {
            &:nth-child(even) {
                th {
                    color: lighten(@default-link-color,15%);
                }
            }
        }
    }
    form#addtodo {
        background: lighten(@default-border-color,75%);
    }
    .todo-form {
        textarea {
            background: @default-background-color;
            border-bottom:1px solid @default-border-color;
            &:focus {
                border-bottom: 1px solid darken(@default-accent-color, 2%);
            }
        }
    }
}
#insert-media-button {
    &:hover {
        border-color: multiply(lighten(@default-hover-link-color, 20%),#fff);
        color: @default-hover-link-color;
    }
    &:focus {
        background: @default-accent-color;
        color: contrast(@default-accent-color, black, white, 54%);
        border-color: @default-accent-color;
    }
}
.widget_cleverness-to-do-widget {
    ol li {
        color: @default-text-color;
    }
    ol li div.todo-text::before {
        border: 1px solid @default-border-color;
        color: @default-border-color;
        font-size: @font-size-small;
    }
    ol li div.todo-text {
        font-size: @font-size-small-medium;
    }
    ol li div.todo-content {
        font-size: @font-size-small;
    }
}
.todo-checklist {
    border-bottom: 1px solid @default-border-color;
    .todo-category-heading {
        font-size: @font-size-h5;
    }
    .todo-list {
        border-top: 1px solid @default-border-color;
        .todoitem {
            border-left: 1px solid @default-border-color;
            &:before {
                border: 2px solid @default-border-color;
                color: @default-border-color;
            }
            .todo-date {
                border-left: 1px solid @default-border-color;
            }
            .edit-todo {
                border-left: 1px solid @default-border-color;
                a.edit-todo {
                    color: @default-text-color;
                    &:hover {
                        color: @default-hover-link-color;
                    }
                }
            }
        }
    }
}
#content {
    .todo-checklist {
        .todoitem {
            p {
                color: contrast(@default-background-color, black, white, 60%);
            }
        }
    }
}
ul.todolist, ol.todolist {
    li.todo-list::before {
        border: 1px solid @default-border-color;
        color: @default-border-color;
        font-size: @font-size-small;
    }
}
table.todolist {
    caption {
        font-size: @font-size-h3;
        font-family: @heading-font;
        color: @default-heading-color;
    }
}
.header-top-tasks-widget {
    ol.todolist, ul.todolist {
        li.todo-list {
            font-size: @font-size-small-medium;
        }
    }
}
#event-form, #location-form {
    table tr:nth-child(even) td {
        background: @default-background-color;
    }
    .wp-editor-container {
        border:1px solid @default-border-color;
    }
}
.search-box input[type="submit"] {
    font-size: @font-size-small-medium;
}
table.em-calendar td.eventful a, table.em-calendar td.eventful-today a {
    color: @default-accent-color;
}
table.em-calendar td.eventless-today, table.em-calendar td.eventful-today, table.em-calendar tr:nth-child(2n) td.eventless-today, table.em-calendar tr:nth-child(2n) td.eventful-today {
    background-color: lighten(@default-accent-color,40%) !important;
}
.wp-polls {
    .pollbar {
        background: @default-accent-color;
    }
    .wp-polls-form {
        .wp-polls-ans {
            ul.wp-polls-ul {
                li {
                    label {
                        &:before {
                            background:@default-hover-link-color;
                            -ms-transform: scale(0,0);
                            -webkit-transform: scale(0,0);
                        }
                        &:after {
                            border: 1px solid darken(multiply(@default-border-color,#fff), 30%);
                        }
                    }
                    input {
                        &:checked + label {
                            color: @default-hover-link-color;
                            &:before {
                                -ms-transform: scale(1,1);
                                -webkit-transform: scale(1,1);
                            }
                            &:after {
                                border-color: @default-hover-link-color;
                            }
                        }
                    }
                }
            }
            a {
                &:hover {
                    color: @default-hover-link-color;
                }
            }
        }
    }
    .Buttons {
        background:@default-accent-color;
    }
}
.mce-statusbar {
    border-bottom: 1px solid @default-border-color !important;
}
.html-active .switch-html, .tmce-active .switch-tmce {
    background: fade(contrast(@default-background-color, black, white, 54%),40%) !important;
    color: @default-background-color !important;
    border:1px solid contrast(@default-background-color, black, white, 54%) !important;
}
.wp-switch-editor {
    font-family: @heading-font !important;
    border: 1px solid @default-border-color;
    color: @default-text-color;
    &:hover {
        color: contrast(@default-accent-color, black, white, 54%);
        border:1px solid contrast(@default-background-color, black, white, 54%);
    }
}
.rtmedia-action-buttons, .rtmedia-upload-media-link {
    color: @default-link-color;
    &:hover, &:focus {
        color: @default-hover-link-color;
    }
}
