.post.sticky {
    background: fade(contrast(@default-background-color, black, white, 54%),2%);
    box-shadow: 6px 6px 0 fade(contrast(@default-background-color, black, white, 54%),8%);
}
.entry-title {
    h2 {
        a {
            &:hover {
                color: @default-accent-color;
            }
        }
    }
}
ul.entry-meta {
    li {
        color: multiply(fade(contrast(@default-background-color, black, white, 54%),60%),#fff);
        a {
            color: multiply(fade(contrast(@default-background-color, black, white, 54%),60%),#fff);
            &:hover {
                color: @default-accent-color;
            }
        }
    }
}
.entry-link {
    font-family: @heading-font;
    &:hover {
        background-color: @default-accent-color;
    }
}
.panel {
    background-color: @default-background-color;
}
.panel-default {
    border-color: fade(contrast(@default-background-color, black, white, 54%),8%);
}
.more-link {
    border-bottom: 1px solid @default-accent-color;
}
.comment-list {
    > li {
        &.comment {
            border: 1px solid @default-border-color;
            .comment-body {
                .comment-meta {
                    .fn {
                        a {
                            font-family: @heading-font;
                            color: @default-link-color;
                        }
                    }
                    .comment-metadata {
                        time {
                            color: multiply(fade(contrast(@default-background-color, black, white, 54%),60%),#fff);
                        }
                        .edit-link {
                            a {
                                color: @default-link-color;
                                &:hover {
                                    color: @default-hover-link-color;
                                }
                            }
                        }
                    }
                }
                .reply {
                    a {
                        color: @default-link-color;
                        border:1px solid multiply(lighten(@default-link-color, 40%),#fff);
                        font-family: @heading-font;
                        &:before {
                            color: @default-link-color;
                        }
                        &:hover {
                            border-color: @default-hover-link-color;
                            color: @default-hover-link-color;
                            &:before {
                                color: @default-hover-link-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
#content .comment-awaiting-moderation {
    color: @default-accent-color;
}
.comment-content {
    .comment-author {
        a {
            &:hover {
                color: @default-accent-color;
            }
        }
    }
}
#respond {
    background: lighten(@default-border-color, 75%);
    textarea {
        background: fade(@default-background-color, 20%);
        border: 1px solid lighten(@default-link-color,40%);
        &:focus {
            border-color: multiply(fade(@default-accent-color, 50%), #fff);
            border-bottom: 1px solid @default-accent-color;
        }
    }
}
.wp-caption {
    font-family: @body-font;
}
#content {
    .no-result-page-wrapper {
        svg {
            & > *, path, ellipse {
                fill: darken(@default-accent-color, 30%);
            }
        }
        h1 {
            color: @default-heading-color;
        }
        p {
            color: @default-heading-color;
        }
        a {
            color: @default-heading-color;
        }
    }
}
