.sidemenu-icon-wrapper {
    > span {
        span {
            > i {
                background: @header-text-color;
            }
            > b {
                background: @header-text-color;
            }
        }
    }
}
.second-menu-icon-wrapper {
    border-left:1px solid @header-border-color;
    .second-menu-icon {
        > span {
            background: @header-text-color;
        }
    }
    i {
        color: @header-text-color;
    }
}
.has-submenu {
    .menu-arrow {
        color: @default-text-color;
    }
    .submenu {
        @media @tablet, @desktop {
            border: 1px solid @header-border-color;
            background: @header-background-color;
        }
        &:before {
            border-bottom: 6px solid @header-border-color;
        }
        &:after {
            border-bottom: 4px solid @header-background-color;
        }
        > li {
            &.separator {
                @media @tablet, @desktop {
                    border-top: 1px solid @header-border-color;
                }
            }
        }
    }
}
#sidemenu-wrapper {
    background-color: @sidemenu-background-color;
    .sidemenu-header {
        background-color: @sidemenu-header-background-color;
        > p {
            font-family: @heading-font;
            color: @menu-font-color;
        }
    }
    .sidemenu-main {
        .menu-section {
            border-top: 1px solid @sidemenu-border-color;
            .menu-section-header {
                font-family: @heading-font;
                span {
                    color: @sidemenu-font-color;
                }
            }
        }
        .menu-list {
            > li {
                &.current_page_item > a {
                    color: fade(contrast(@sidemenu-background-color, black, white, 54%), 100%);
                }
                > a {
                    font-family: @menu-font;
                    color: @sidemenu-text-color;
                    &:hover {
                        color: fade(contrast(@sidemenu-background-color, black, white, 54%), 100%);
                    }
                }
                > .menu-arrow {
                    color: @menu-font-color;
                    &:after {
                        border-bottom: 5px solid @menu-font-color;
                    }
                }
                > .submenu {
                    > li {
                        > a {
                            color: @menu-font-color;
                            &:before {
                                background: @sidemenu-font-color;
                            }
                        }
                    }
                }
                &.active {
                    .auto-color(@sidemenu-background-color, background-color, 3%, 2%, 54%);
                }
            }
        }
    }
    &.has-sidemenu-footer {
        .sidemenu-footer {
            .sidemenu-footer-inner {
                color: @sidemenu-font-color;
                border-top: 1px solid @sidemenu-border-color;
                @media @desktop {
                    border-top: 1px solid @sidemenu-border-color;
                }
            }
        }
    }
}
.sidemenu-is-open {
    #sidemenu-wrapper {
        &.has-sidemenu-footer {
            .sidemenu-footer {
                .sidemenu-footer-inner {
                    @media @tablet {
                        border-top: 1px solid @sidemenu-border-color;
                    }
                }
            }
        }
    }
}
.logo {
    font-family: @heading-font;
    a {
        color: contrast(@header-background-color, black, white, 54%);
    }
    i {
        color: contrast(@header-background-color, black, white, 54%);
    }
}
#header {
    #header-wrap {
        background-color: @header-background-color;
        border-bottom:1px solid @header-border-color;
        .header-left {
            border-right:1px solid @header-border-color;
        }
    }
}
.second-menu {
    background: @second-menu-background-color;
    @media @tablet, @desktop {
        background-color: @header-background-color;
    }
    .second-menu-header {
        @media @tablet, @desktop {
            background-color: @header-background-color;
            border-left:1px solid @header-border-color;
            border-right: 1px solid @header-border-color;
        }
    }
    .search-form {
        input.header-search {
            font-family: @heading-font;
            @media @tablet, @desktop {
                font-family: @body-font;
            }
        }
    }
    .kleo_ajax_results {
        color: @default-text-color;
        background: @default-background-color;
        border: 1px solid @default-border-color;
        h4 {
            border-bottom-color: @default-border-color;
        }
        h4 span {
            background: @default-background-color;
        }
        .kleo_ajax_entry .ajax_search_image .icon {
            background: @default-border-color;
        }
        .ajax_search_content {
            color: @default-text-color;
        }
        .ajax_search_content .search_title {
            font-family: @heading-font;
            color: @default-heading-color;
        }
        a.ajax_view_all {
            color: contrast(@default-accent-color, black, white, 54%);
            background:@default-accent-color;
            font-family: @heading-font;
            &:hover, &:focus {
                background:darken(@default-accent-color, 10%);
            }
        }
    }
    .header-icons {
        > li {
            > a {
                font-family: @menu-font;
                color: @second-menu-text-color;
                > i {
                    color: @second-menu-text-color;
                }
            }
            > .menu-arrow {
                color: @second-menu-text-color;
                &:after {
                    border-bottom: 5px solid @menu-font-color;
                }
            }
            &.has-submenu {
                .submenu {
                    > li {
                        border-top: 1px solid @second-menu-border-color;
                        color: @second-menu-text-color;
                        > a {
                            color: @second-menu-text-color;
                        }
                        &:last-child {
                            border-bottom: 1px solid @second-menu-border-color;
                        }
                        &.footer-item {
                            background: @default-border-color;
                            border-left: 1px solid @sidemenu-border-color;
                            border-right: 1px solid @sidemenu-border-color;
                            a {
                                font-family: @heading-font;
                            }
                        }
                    }
                }
            }
            &.kleo-messages-nav.has-submenu {
                .submenu {
                    li {
                        &.kleo-submenu-item {
                            .message-from {
                                a {
                                    font-family: @heading-font;
                                    color: @sidemenu-heading-color;
                                }
                            }
                            .message-body {
                                a {
                                    color: @sidemenu-heading-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media @tablet, @desktop {
            > li {
                > a {
                    font-family: @body-font;
                    color: @header-text-color;
                    > i {
                        &:before {
                            color: @header-text-color;
                        }
                    }
                }
                &.has-submenu {
                    .submenu {
                        border: 1px solid @header-border-color;
                        background: @header-background-color;
                        > li {
                            color: @header-text-color;
                            border-bottom: 1px solid @header-border-color;
                            > a {
                                color: @header-text-color;
                            }
                            &.footer-item {
                                background: @header-background-color;
                                border-top: 1px solid @header-border-color;
                                a {
                                    color: @header-link-color;
                                    &:hover, &:focus {
                                        color: @header-hover-link-color;
                                    }
                                }
                            }
                        }
                    }
                }
                &.kleo-messages-nav.has-submenu {
                    .submenu {
                        li {
                            &.kleo-submenu-item {
                                &.unread {
                                    background-color: lighten(@default-border-color,85%);
                                }
                                .message-from {
                                    a {
                                        color: @header-link-color;
                                        &:hover, &:focus {
                                            color: @header-hover-link-color;
                                        }
                                    }
                                }
                                .message-date {
                                    color: @header-text-color;
                                }
                                .message-body {
                                    a {
                                        color: @header-link-color;
                                        &:after {
                                            color: @header-link-color;
                                        }
                                        &:hover {
                                            color: @header-hover-link-color;
                                            &:after {
                                                color: @header-hover-link-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .my-profile-wrapper {
        background-color: fade(contrast(@second-menu-background-color, black, white, 0.1%),7%);
        > a {
            .my-profile-name {
                color: @second-menu-text-color;
                b {
                    font-family: @heading-font;
                }
            }
        }
        .submenu {
            > li {
                border-top: 1px solid @second-menu-border-color;
                > a {
                    color: @second-menu-text-color;
                    > i {
                        color: @second-menu-text-color;
                    }
                    > span {
                        font-family: @heading-font;
                        background-color: fade(contrast(@header-mobile-background-color, black, white, 54%),60%);
                        color: @header-mobile-background-color;
                    }
                }
            }
        }
        @media @tablet, @desktop {
            background-color: transparent;             > a {
                .my-profile-name {
                    b {
                        font-family: @body-font;
                        color: @header-text-color;
                    }
                }
                &:hover {
                    .my-profile-image {
                        i {
                            &:before {
                                color: @header-text-color;
                            }
                        }
                    }
                    .my-profile-name {
                        b {
                            color: @header-text-color;
                        }
                    }
                }
            }
            .submenu {
                li {
                    a {
                        color: @header-text-color;
                        &:hover {
                            .auto-color(@header-background-color, background-color, 2%, 6%);
                        }
                        > i {
                            color: @header-text-color;
                        }
                        > span {
                            font-family: @heading-font;
                            background-color: fade(contrast(@header-background-color, black, white, 54%),60%);
                            color: @header-background-color;
                        }
                    }
                }
            }
        }
    }
}
header.has-language {
    .second-menu {
        .my-profile-wrapper {
            border-left: 1px solid @header-border-color;
        }
        .language-menu {
            > a {
                font-family: @heading-font;
                @media @tablet, @desktop {
                    font-family: @body-font;
                    color: @header-text-color;
                }
            }
            .submenu {
                > li {
                    > a {
                        color: @sidemenu-font-color;
                    }
                }
                @media @tablet, @desktop {
                    background: @header-background-color;
                    > li {
                        > a {
                            color: @header-text-color;
                        }
                    }
                }
            }
            &.open {
                > a {
                    @media @tablet, @desktop {
                        color: @header-text-color;
                    }
                }
            }
        }
    }
}
